@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.skill {
  &__bar {
    height: 10px;
    background-color: lightgrey;
    padding: 1px;
  }
  &__level {
    background-color: #25303B;
    height: 8px;
  }
}
