$sm: 685px;

.history {
  position: relative;
  :before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      margin: 70px 0 0 -1px;
      width: 1px;
      height: calc(100% - 70px);
      background: #25303B;
  }

  &__title {
    font-size: 20px;
    padding: 15px 0px 0px 0px;
    margin: 0;
    margin-bottom: 5px;
    position: relative;
    border-bottom: 1px solid #25303B;

    span {
      margin-left:10px;
      font-size: 16px;
    }
    i {
      margin-left:10px;
    }
  }
  &__engagement {
    font-size: 13px;
    margin-bottom: 0px;
    line-height: 1.3rem;
  }
  &__occupation {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 1.3rem;
  }
  &__stack {
    font-size: 12px;
  }



  @media (min-width: $sm) {
    &__item div.inner {
      width: 40%;
      margin: 5px 0 0 0;
    }

    &__item div.inner h2:after {
      top: 20px;
      left: unset;
      right: -5px;
    }
    &__item:nth-child(2n+2) div.inner h2:after {
      left: -5px;
    }
  }
}
